.search {
    min-width: 350px;
    color: white;
    align-self: center;
    margin-bottom: 20px;
    padding: 12px 0;

    border-radius: 20px;
    border: 1px solid #7d7878;
    background: rgba(125, 120, 120, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);
    transition: all 0.2s ease-in-out;

    &__icon {
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    &__input {
        padding-left: 15px;
    }
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.8);
    }
}
